[Service]
Type=simple
ExecStart=/usr/local/bin/node /home/pi/bkcrushreqbot/dist/app.js
Environment=BOT_TOKEN=2088234598:AAEgsqsOVmuoTkTJ8ATO4ZlSzYImvCJCu6s
WorkingDirectory=/home/pi/bkcrushreqbot
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

[Install]
WantedBy=multi-user.target
